html,body,canvas{
    position:relative;
    margin:0px;  
    width:100%;
    height:100%; 
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}

#quill_area {
    position: absolute;
    top: 0%;
    left: 50%;
    /*width: 50%;*/
    /*height: 100%;*/
    background-color: wheat;
}

#graph_area {
    position: absolute;
    top: 0%;
    left: 0%;
    /*width: 50%;*/
    /*height: 100%;*/
}

/*extend icon text*/
body {
    font-family: 'FontAwesomeSVG', 'FontAwesomeSVG2', 'FontAwesomeSVG3', 'FontAwesomeSVG4';
}
.the-graph-light .icon {
    font-family: 'FontAwesomeSVG', 'FontAwesomeSVG2', 'FontAwesomeSVG3', 'FontAwesomeSVG4';
}
.the-graph-dark .icon {
    font-family: 'FontAwesomeSVG', 'FontAwesomeSVG2', 'FontAwesomeSVG3', 'FontAwesomeSVG4';
}

/*custom button*/
.ql-omega:after {
    font-family: 'FontAwesomeSVG', 'FontAwesomeSVG2', 'FontAwesomeSVG3', 'FontAwesomeSVG4';
    color: red;
    content: '\f55d';
}

/*custom font type*/
.ql-snow .ql-picker.ql-font .ql-picker-label::before, .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: 'Monaco';
    font-family: 'Monaco';
}

.ql-font-monaco {
    font-family: 'Monaco';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monaco]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monaco]::before {
    content: 'Monaco';
    font-family: 'Monaco';
}

/*custom font size*/
.ql-container {
    font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: '20px';
    font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
    font-size: 16px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: '20px';
    font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px';
    font-size: 24px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="28px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
    content: '28px';
    font-size: 28px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: '32px';
    font-size: 32px;
}


/* Directed Graph Editor */
svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}*/

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 2.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

#quill_editor {
    height: -webkit-calc(100% - 90px);
    height:    -moz-calc(100% - 90px);
    height:         calc(100% - 90px);
}​